/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
	border-style: solid;
	border-color: green;
	border-width: 3px;
}
#red{
	background-color: red;
	border-style: solid;
	border-color: black;
	border-width: 3px;
}
#green{
	background-color: green;
	border-style: solid;
	border-color: yellow;
	border-width: 3px;
}